#spellify #correctionsContainer ul{
	margin-top: -8px;
}

#spellify #arrow img{ 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
}
#spellify #arrow { 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='spellify/images/arrw.png');
	display: inline-block;
}
