#spellify #spellTagLine img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	vertical-align: bottom;
}
#spellify #spellTagLine{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='spellify/images/tagline.png');
}

#spellify #arrowItem{
	margin-left: 0px;
}