#spellify #correctionsContainer ul{
	padding: 0; 
	margin: 0; 
	border-top-width: 0; 
	padding-top: 0; 
	margin-top: 4px;	
	margin-bottom: 0; 
	border-bottom-width: 0; 
	padding-bottom: 0;
	list-style: none; 
	background-color: transparent;
}


#spellify #correctionsBody{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #FFFFFF; 
	border-left: 3px solid red; 
	border-top: 3px solid red; 
	border-right: 3px solid red;	
}

#spellify #correctionsFooter{
	background-color: #FFFFFF; 
	text-align: right; 
	border-left: 3px solid red; 
	border-right: 3px solid red; 
	border-bottom: 3px solid red;
}

#spellify .correctiontext, #spellify .noerrortext{
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	margin-left: 5px;
	margin-right: 10px;
}

#spellify .correctiontext
{
	color: #000000;
}

#spellify .noerrortext
{
	color: #009900;
}

#spellify a.ignore:link, #spellify a.ignore:visited, #spellify a.ignore:active
{
	color: #378EBD;
	font-size: 9pt;
	text-decoration: none;
}

#spellify a.ignore
{
	padding-right: 2px;
	padding-left: 2px;
}

#spellify a.ignore:hover
{
	background-color: #378EBD;
	color: #FFFFFF;
	font-size: 9pt;
	text-decoration: none;
}

#spellify a.ignore:link, #spellify a.ignore:hover, #spellify a.ignore:visited, #spellify a.ignore:active
{
	font-weight: bold;
	margin-right: 10px;
}

#spellify a.correction:visited, #spellify a.correction:active, #spellify a.correction:link
{ 
	color: #009900;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
}

#spellify a.correction:hover
{
	color: #FFFFFF;
	background-color: #006699;
	font-size: 10pt;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

#spellify #arrow{
	width: 12px; 
	height: 6px;
	display: block;
}

#spellify #arrowItem{
	height: auto;
}


#spellify #arrow img{
	vertical-align: top;
}


#spellify #spellTagLine{
	display: inline-block;
	vertical-align: bottom;
}

#spellify #spellTagLine img{
	border: 0;
	vertical-align: bottom;
}