/*img, div, a, input, li, td { behavior: url(iepngfix.htc); z-index:100;}*/
#menuHead {float:right; white-space:nowrap;  height:30px; margin:0px; padding:0;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu { margin-top:-20px; margin-left: -100px; }
#menuHead ul.nav .selected a, #menuHead ul.nav .selected a:hover{background: url(../../images/selected_arrow.gif) no-repeat center 28px; margin:0 10px 0 10px; text-align:left; color:#a30000;}

#menuHead ul.nav .selected ul.subMenu a{background-image:none; background-color:#74a8e1; color:#a30000; z-index:30001;}
#menuHead ul.nav .selected ul.subMenu a:hover{background-image:none; background-color:#74a8e1; color:#003399; z-index:30001;}
#menuHead ul  li a {float: left; display: block; padding-right:0px; margin-right:10px; background: url(../images/phase2/nav-arrow-bg.gif) right -10px no-repeat; text-decoration:none; font:Arial, sans-serif; color:#000; margin-left:10px; z-index:30001;}


#menuHead ul li:hover ul li a, #menuHead ul li.sfhover ul li a { background-image:none; background-color:#74a8e1; display: block; width: 160px; line-height:26px; color:#a30000;  padding: 0 16px 0 12px; border:1px solid #fff; font-weight:normal; z-index:30001;}
