#masthead { position:relative; z-index: 300; background: #000 url(../images/phase2/masthead-bg.jpg) repeat-x; height: 100px; border-bottom: 1px solid #444;}
#masthead h1 { float: left; height: 65px;}
#masthead h1 a {width: 155px; height: 65px; margin-left: 20px; border: none; text-decoration: none; }

#masthead #userInfoLoggedIn ul#userinfo-menu a.no-arrow, #masthead #nav-states a.no-arrow { background: none; }
#masthead #userInfoLoggedIn ul#userinfo-menu a.no-arrow:hover, #masthead #nav-states a.no-arrow:hover { background: none; }

#masthead #userInfoLoggedOut { width: 400px; padding-top: 15px; margin-left: 338px; }
#masthead #userInfoLoggedOut p {font: 11px/17px Arial, sans-serif; color: #ccc;}
#masthead #userInfoLoggedOut p a {font-weight: bold; color: #0cf; text-decoration: none;}
#masthead #userInfoLoggedOut p a:hover {text-decoration: underline;}

#masthead #userInfoLoggedIn { width: 400px; padding-top: 15px; margin-left: 338px; }
#masthead #userInfoLoggedIn img { float:left; border: 1px solid #000; margin-right: 12px; }
#masthead #userInfoLoggedIn p {font: bold 12px/20px Arial, sans-serif; color: #fff;}
#masthead #userInfoLoggedIn p a {font-weight: bold; color: #0cf; text-decoration: none;}
#masthead #userInfoLoggedIn p a:hover {text-decoration: underline;}
#masthead #userInfoLoggedIn ul#userinfo-menu  li {float: left; }
#masthead #userInfoLoggedIn ul#userinfo-menu  li a {float: left; display: block; padding-right: 20px; margin-right: 30px; background: url(../images/phase2/nav-arrow-bg.gif) right -10px no-repeat; text-decoration: none; font: 11px/16px Arial, sans-serif; color: #fff;}
#masthead #userInfoLoggedIn ul#userinfo-menu  li a:hover {color: #0cf; background: url(../images/phase2/nav-arrow-bg.gif) right -45px no-repeat;}
#masthead #userInfoLoggedIn ul#userinfo-menu li ul {position: absolute; width: 10em; left: -999em; }
#masthead #userInfoLoggedIn ul#userinfo-menu li:hover ul, #masthead #userInfoLoggedIn ul#userinfo-menu li.sfhover ul {left: auto; top: 51px; margin-left: -1px;}
#masthead #userInfoLoggedIn ul#userinfo-menu li:hover ul li a, #masthead #userInfoLoggedIn ul#userinfo-menu li.sfhover ul li a { background-image: none; background-color: #fff; display: block; width: 156px; line-height: 22px; color: #000; padding: 0 22px 0 12px; border: 1px solid #000; border-top: 0;}
#masthead #userInfoLoggedIn ul#userinfo-menu li:hover ul li a:hover, #masthead #userInfoLoggedIn ul#userinfo-menu li.sfhover ul li a:hover {color: #000; background-image: none; background-color: #dee;}
#masthead #userInfoLoggedIn ul#userinfo-menu li:hover ul li a.not-available, #masthead #userInfoLoggedIn ul#userinfo-menu li.sfhover ul li a.not-available { color: #ccc; }
#masthead #userInfoLoggedIn ul#userinfo-menu li:hover ul li a.not-available:hover, #masthead #userInfoLoggedIn ul#userinfo-menu li.sfhover ul li a.not-available:hover { color: #ccc; background-color: #fff; cursor: default; }

#masthead #userInfoLoggedIn ul.masthead-messages  li {float: left; }
#masthead #userInfoLoggedIn ul.masthead-messages li.profile-msg { margin-left: -234px; }
#masthead #userInfoLoggedIn ul.masthead-messages li.group-msg {margin-left: -130px; }
#masthead #userInfoLoggedIn ul.masthead-messages li a.notification { float: left; border-right: 1px solid #666; font-weight: bold; padding: 0 4px 0 24px; margin-right: 12px; text-decoration: none; }
#masthead #userInfoLoggedIn ul.masthead-messages li a.messages-on { color: #0cf; background: url(../images/phase2/message-bg.gif) 6px bottom no-repeat; }
#masthead #userInfoLoggedIn ul.masthead-messages li a.messages-off { color: #fff; background: url(../images/phase2/message-bg.gif) 6px top no-repeat; }

#masthead ul.nav { clear: both; list-style-type: none; margin: 0 20px; padding: 0;}
#masthead ul.nav li {float: left; }
#masthead ul.nav li.loginbox { margin: 0 -11px 0 287px; }
#masthead ul.nav li.my-account { margin: 0 -3px 0 284px; }
#masthead ul.nav li a {float: left; display: block; padding: 0 22px 0 7px; background: url(../images/phase2/nav-arrow-bg.gif) right top no-repeat; text-decoration: none; line-height: 35px; color: #fff;}
#masthead ul.nav li a strong {font-family: "Helvetica Neue Black", "Arial Black", Arial, sans-serif;}
#masthead ul.nav li a:hover {color: #0cf; background: url(../images/phase2/nav-arrow-bg.gif) right bottom no-repeat;}
#masthead ul.nav a.home {background: #000 url(../images/phase2/btn-home-bg.gif) no-repeat; padding: 0; margin: 0 4px; width: 20px; height: 35px; }
#masthead ul.nav a:hover.home {background: #000 url(../images/phase2/btn-home-bg.gif) right top no-repeat;}

#masthead ul.nav li ul {position: absolute; width: 10em; left: -999em; }
#masthead ul.nav li:hover ul, #masthead ul.nav li.sfhover ul {left: auto; top: 100px; margin-left: 8px;}
#masthead ul.nav li:hover ul li a, #masthead ul.nav li.sfhover ul li a { background-image: none; background-color: #fff; display: block; width: 156px; line-height: 22px; color: #000; border: 1px solid #000; border-top: 0;}
#masthead ul.nav li:hover ul li a:hover, #masthead ul.nav li.sfhover ul li a:hover {color: #000; background-image: none; background-color: #dee;}
#masthead ul.nav li:hover ul li a.not-available, #masthead ul.nav li.sfhover ul li a.not-available { color: #ccc; }
#masthead ul.nav li:hover ul li a.not-available:hover, #masthead ul.nav li.sfhover ul li a.not-available:hover {color: #ccc; background-color: #fff; cursor: default;}

#masthead ul.nav li ul li#support-submenu ul {position: absolute; width: 10em; left: -999em; }
#masthead ul.nav li:hover ul li#support-submenu:hover ul, #masthead ul.nav li ul li#support-submenu.sfhover ul {left: auto; top: 45px; margin-left: 186px; }
#masthead ul.nav li:hover ul li#support-submenu:hover ul li a, #masthead ul.nav li ul li#support-submenu.sfhover ul li a { background-image: none; background-color: #fff; display: block; width: 156px; line-height: 22px; color: #000; border: 1px solid #000; border-top: 0;}
#masthead ul.nav li:hover ul li#support-submenu:hover ul li a.member-support-top, #masthead ul.nav li ul li#support-submenu.sfhover ul li a.member-support-top { border-top: 1px solid #000; }
#masthead ul.nav li:hover ul li#support-submenu:hover ul li a:hover, #masthead ul.nav li ul li#support-submenu.sfhover ul li a:hover {color: #000; background-image: none; background-color: #dee;}

#masthead .search-logout { float: left; margin-left: -411px ; }
#masthead .search-login { float: left; margin-left: -442px ; }
#masthead #searchdrop {width: 121px; height: 35px; background: url(../images/phase2/search-main-bg1.gif) no-repeat; float: left; margin: 0 24px;}
#masthead #searchdrop ul {position: absolute; width: 10em; left: -999em; }
#masthead #searchdrop ul {top: 94px; margin-left: 5px;}
#masthead #searchdrop:hover ul, #masthead #searchdrop.sfhover ul {left: auto; top: 100px; margin-left: 12px;}
#masthead #searchdrop:hover ul li a, #masthead #searchdrop.sfhover ul li a { background-image: none; background-color: #fff; display: block; width: 140px; line-height: 22px; color: #000; border: 1px solid #000; border-top: 0; padding: 0 22px 0 12px; text-decoration: none; }
#masthead #searchdrop:hover ul li a:hover, #masthead #searchdrop.sfhover ul li a:hover {color: #000; background-image: none; background-color: #dee; }
#masthead #searchdrop a#search-dropdown { display: block; width: 121px; height: 35px; margin-left: 12px; line-height: 35px; color: #000; background: url(../images/phase2/search-arrow-bg.gif) 90px top no-repeat; text-decoration: none; }
#masthead #searchdrop a#search-dropdown:hover { color: #09f; background: url(../images/phase2/search-arrow-bg.gif) 90px -35px no-repeat; }
#masthead #search-form {width: 180px; height: 35px; background: url(../images/phase2/search-main-bg2.gif) no-repeat; float: left; margin: 0 0 0 -24px;}
#masthead #search-form input#s { float:left; margin: 10px 0 0 3px; width: 118px; border: 0; color: #555; font: 12px/16px Arial, sans-serif; }
#masthead #search-form input#go { margin: 6px 0 0 2px; }
