a, a:hover{outline:none;}
ul li{list-style:none;  z-index:1000;} img{border:none;}
#menuHead { position:relative; z-index:1000; border-bottom: 0px solid #444; font-size:13px; font-weight:bold; color:#000;}
#menuHead { margin:0 auto; width:599px;}
#menuHead h1 { float: left;}
#menuHead h1 a {width: 155px; margin-left: 20px; border: none; text-decoration: none;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu {margin-top:-16px; margin-left:-35px; display:block; float:left;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #airline { margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #catlogue { margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #catlogue_airline { margin-top:-13px; margin-left: -85px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #vendor { margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #order {margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #admin_order {margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #admin { margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #merchandise { margin-top:-13px; margin-left: -35px;}
#menuHead  ul.nav .subMenu, #menuHead  ul.nav .subMenu #report { margin-top:-13px; margin-left: -35px;}


#menuHead ul.nav .selected ul.subMenu #airline a{background-image:none; background-color:#74a8e1; color:#a30000;}
#menuHead ul.nav .selected ul.subMenu #airline a:hover{background-image:none; background-color:#74a8e1; color:#003399;}
#menuHead ul.nav .selected ul.subMenu #catlogue a{background-image:none; background-color:#74a8e1; color:#a30000;}
#menuHead ul.nav .selected ul.subMenu #catlogue a:hover{background-image:none; background-color:#74a8e1; color:#003399;}

#menuHead  ul a.no-arrow, #menuHead #nav-states a.no-arrow {background: none;}
#menuHead  ul a.no-arrow:hover, #menuHead #nav-states a.no-arrow:hover {background:none;}
#menuHead  img { float:left; border: 1px solid #000; margin-right: 12px;}
#menuHead ul.nav .selected a, #menuHead ul.nav .selected a:hover{background:url(../../images/tirangle.png) no-repeat center 20px; color:#a30000;}
#menuHead ul.nav .selected ul.subMenu a{background-image:none; background-color:#74a8e1; color:#a30000;}
#menuHead ul.nav .selected ul.subMenu a:hover{background-image:none; background-color:#74a8e1; color:#003399;}
#menuHead ul.nav .divider{ padding:10px 0 0 0; margin:0; border:none; width:2px;}
#menuHead ul.nav .divider img{ padding:0; margin:0; border:none; width:2px;}
#menuHead ul  li {float: left;}
#menuHead ul  li a {float: left; display: block; padding-right:20px; margin-right:30px; background: url(../images/phase2/nav-arrow-bg.gif) right -10px no-repeat; text-decoration:none; font:Arial, sans-serif; color:#000; margin-left:10px;}
#menuHead ul  li a:hover {color: #000; background: url(../images/phase2/nav-arrow-bg.gif) right -45px no-repeat;}
#menuHead ul li ul {position: absolute; width:10em; left: -999em; }
#menuHead ul li:hover ul, #menuHead ul li.sfhover ul {left: auto; top: 51px; margin-left: -1px;}
#menuHead ul li:hover ul li a, #menuHead ul li.sfhover ul li a { background-image:none; background-color:#74a8e1; display: block; width: 210px; line-height:26px; color:#a30000;  padding: 0 16px 0 12px; border:1px solid #fff; border-bottom:none;  font-weight:normal;}
#menuHead ul li:hover ul li.last a, #menuHead ul li.last ul li a { background-image:none; background-color:#74a8e1; display: block; width: 210px; line-height:26px; color:#a30000;  padding: 0 16px 0 12px; border:1px solid #fff; font-weight:normal;}
#menuHead ul li:hover ul li a:hover, #menuHead  ul li.sfhover ul li a:hover { background-image:none; background-color:#74a8e1; color:#003399;}
#menuHead ul li:hover ul li a.not-available, #menuHead  ul li.sfhover ul li a.not-available {color:#003399; }
#menuHead ul li:hover ul li a.not-available:hover, #menuHead  ul li.sfhover ul li a.not-available:hover{color:#ccc; background-color:#fff; cursor:default;}
#menuHead ul.nav { clear: both; list-style-type: none; margin: 0 10px; padding:0;}
#menuHead ul.nav li {float:left;}
#menuHead ul.nav li a {float: left; display: block; padding: 0 0px 0 7px; background: url(../images/phase2/nav-arrow-bg.gif) right top no-repeat; text-decoration: none; line-height:38px; color: #a30000;}
#menuHead ul.nav li a strong {font-family: "Helvetica Neue Black", "Arial Black", Arial, sans-serif;}
#menuHead ul.nav li a:hover {color: #003399; background: url(../images/phase2/nav-arrow-bg.gif) right bottom no-repeat;}
#menuHead ul.nav li ul li#support-submenu ul {position: absolute; width: 10em; left: -999em;  text-align:left;}
#menuHead ul.nav li:hover ul li#support-submenu:hover ul, #menuHead ul.nav li ul li#support-submenu.sfhover ul{left:auto; top:45px; margin-left:186px;}
#menuHead ul.nav li:hover ul li#support-submenu:hover ul li a, #menuHead ul.nav li ul li#support-submenu.sfhover ul li a{background-image:none; background-color: #fff; display: block;
width:156px; line-height:22px; color:#a30000; border:1px solid #000; border-top:0;}
#menuHead ul.nav li:hover ul li#support-submenu:hover ul li a.member-support-top, #menuHead ul.nav li ul li#support-submenu.sfhover ul li a.member-support-top{border-top: 1px solid #000;}
#menuHead ul.nav li:hover ul li#support-submenu:hover ul li a:hover, #menuHead ul.nav li ul li#support-submenu.sfhover ul li a:hover {color:#003399; background-image: none; background-color: #000;}