
#coverflow { margin:0 auto; text-align:left; width: 560px; background:#fff; padding:20px 5px; border:0px #000 solid;}
#coverflow img { position:absolute; top:0; border:none; }
#coverflow #images { visibility: hidden; }
#coverflow #loading { margin-top: 50px; text-align: center; width: 100%; }
#coverflow #loading img { margin-top: 10px; position: relative; }
#coverflow #captions { position: relative; font: bold 16px/120% Arial, Helvetica, sans-serif; padding: 10px 0; color: #ccc; text-align: center; z-index:10000; /*background: url(../images1/checkerboard.gif) repeat;*/ color:#000000;}
#coverflow #scrollbar { visibility:hidden; position:relative; border-bottom:1px solid #000; z-index:10001; }
#coverflow #slider { position:absolute; margin-top:-7px; margin-left:-7px; z-index:10002; background-image:url(../images1/slider.gif); background-repeat:no-repeat; width:40px; height:20px; }