/*
Author  : Prabu A
Date    : 29 - 07 - 2008
Company : Thapovan Info Systems Inc.
*/
img, div { behavior: url(iepngfix.htc);}
.table{ margin:20px auto;}
.select{ border: #999 solid 1px;}
hr{padding:10px 0; border:none;}
img, div, a, input, li, td{ behavior: url(iepngfix.htc);}
#coverflow { width:600px; background:none; left:-170px; top:-44px; border:0px #000 solid; display:block; position:relative;}
#coverflow #scrollbar { visibility:visible; background:url(../images/scrollbar.gif) no-repeat; height:20px;  position:relative; border-bottom:0px solid #184d88; z-index:10001; left:130px; top:100px; }
.wraper .logincontainer{background:url(../images/login_bg.png) no-repeat; width:848px;  height:385px; margin:0 auto; text-align:center;}
.wraper .coverflowcontainer{ background:url(../images/coverflow_bg.png) no-repeat; width:848px;  height:385px; margin:0 auto; text-align:center;}
.wraper .coverflowcontainer h1{color:#184d88; font-size:14px; font-weight:bold; margin:0;}

.wraper .contentcontainer{ height:100%; margin:-40px 20px 20px 20px; text-align:center; position: relative;}
.wraper .contentcontainer li.leftcutver{background:url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:0 0 0 0;}
/*.wraper .contentcontainer .content{background:#fff; clear:both; padding:4px; height:auto;   min-width:600px;}
*/

/*------------------------ style for Middle Content (added on 19nov2009)---------------*/
.nav-header { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_middlebg.png", sizingMethod="scale"); }
.nav-header .nav-header-right { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_rightcurve.png", sizingMethod="crop"); }
.nav-header .nav-header-left { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_leftcurve.png", sizingMethod="crop"); }

.nav-footer { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_bmiddlebg.png", sizingMethod="scale"); }
.nav-footer .nav-footer-right { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_brightcurve.png", sizingMethod="crop"); }
.nav-footer .nav-footer-left { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_bleftcurve.png", sizingMethod="crop"); }