/*
Author  : Prabu A
Date    : 29 - 07 - 2008
Company : Thapovan Info Systems Inc.
*/
/* Login Page Start */
.table{ margin:0 auto;}
hr{padding:10px 0; border:none;}
#coverflow { width:600px; background:none; left:-170px; top:-44px; border:0px #000 solid; display:block; position:relative;}
#coverflow #scrollbar { visibility:visible; background:url(../images/scrollbar.gif) no-repeat; height:20px;  position:relative; border-bottom:0px solid #184d88; z-index:10001; left:130px; top:100px; }
.wraper .logincontainer{background:url(../images/login_bg.png) no-repeat; width:848px;  height:385px; margin:0 auto; text-align:center;}
.wraper .coverflowcontainer{ background:url(../images/coverflow_bg.png) no-repeat; width:848px;  height:385px; margin:0 auto; text-align:center;}
.wraper .coverflowcontainer h1{color:#184d88; font-size:14px; font-weight:bold; margin:0;}
.wraper .contentcontainer{ height:100%; margin:-20px 20px 20px 20px; text-align:center;}
.wraper .username{font-size:16px; color:#fff; margin:10px 0 0 0; padding:0;}

.wraper .contentcontainer li.leftcutver{background:url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:0 0 0 0;}
#top_menu{margin:10px 0 0 100px;}
/*.wraper .contentcontainer .content{background:#fff;  height:auto; clear:both; float:left; padding:4px; min-width:764px;}
*/
.footer{ background:#fff url(../images/footer_bg.png) repeat-x; height:100px; padding:10px; clear:both; }
.footer div{width:800px; margin:0 auto;}
.footer a{color:#184d88; padding:10px; float:left;}
.footer a:hover{color:#74a8e1; padding:10px;}
.footer span{float:right; margin:0;}
