/*
Author		: Prabu A
Created on 	: July 01 2008
Company		: Thapovan Info Systems Pvt Ltd.
*/
hr{padding:10px 0; border:none;}
.td{background:#fff;}
.table{ margin:20px auto 0 auto;}
.searchtable{margin:5px auto 10px auto; border-bottom:#4785ca 1px solid; }
.searchtable td {padding:4px;}
.tdborder{border-bottom:#4785ca 1px solid; background:#fff;}
body{margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#74a8e1 url(../images/page_bg.jpg) no-repeat  center 0; height:100%;}
.whitestrip{ background:#fff; height:10px; width:100%;}
.wraper{margin:10px 50px; height:60%; }
.topnav{width:800px; margin:0 auto;}
.wraper .skybuyhighlogo{background:url(../images/logo.gif) no-repeat; height:47px; width:297px; margin:15px 50px 0 0; float:left}
.wraper .userimg img{border:1px #666 solid;  margin:10px 10px 0 0; float:left;}
.wraper .username{font-size:16px; color:#fff; margin:0 0 0 0; padding:10px 0 0 0;}
.wraper .username span a{color:#0071ef; padding:4px 0 0 0; text-decoration:none; font-size:13px; font-weight:bold;}
.wraper .username span a:hover{color:#184d88; text-decoration:none;}
.wraper .username span.time{ font-size:12px; color:#184d88;}
.wraper .menu{ float:right; margin:10px -22px 0 0;}
.wraper .menu ul {width:500px; margin:0; padding:0; }
.wraper .menu li{ list-style-type:none; float:left; display:block; font-size:13px; color:#fff; font-weight:bold; margin:0 5px 0 5px; padding:0; height:30px;}
.wraper .menu li a{ color:#fff; text-decoration:none;}
.wraper .menu li a:hover{ color:#184d88; text-decoration:none;}
.wraper .menu li.selected{ background:url(../images/selected_arrow.gif) no-repeat center 20px; float:left; display:block;  height:30px;}
.wraper .menu li.divider{}
.wraper .contentcontainer{ height:100%; margin:37px 20px; text-align:center;}
.wraper .contentcontainer h1{color:#184d88; font-size:14px; font-weight:bold; width:500px; }
.wraper .contentcontainer ul{ list-style-type:none; margin:0; padding:0; min-width:800px;}
.wraper .contentcontainer li{display:inline; list-style-type:none; margin:0; padding:0;}
.wraper .contentcontainer li.leftcutver{background:url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:1px 0 0 0;}
.wraper .contentcontainer li.middlebg{background:url(../images/top_nav_middlebg.png) repeat-x; width:94%; height:44px; float:left; min-width:700px; text-align:left;}
.wraper .contentcontainer li.middlebg h1{color:#184d88; font-size:14px; font-weight:bold; margin:10px 0 0 0;}
.wraper .contentcontainer li.rightcutver{background:url(../images/top_nav_rightcurve.png) no-repeat; width:26px; height:44px; float:left;}
.wraper .contentcontainer .content{background:#fff; clear:both; padding:4px; height:auto; min-width:750px;}
.wraper .contentcontainer .border{border:#4785ca 1px solid; }
.wraper .contentcontainer .border h2{font-size:13px; color:#fff; margin:0; padding:8px;}
.wraper .contentcontainer li.bottomleftcutver{background:url(../images/top_nav_bleftcurve.png) no-repeat; width:26px; height:34px; float:left; clear:right; margin:0;}
.wraper .contentcontainer li.bottommiddlebg{background:url(../images/top_nav_bmiddlebg.png) repeat-x; width:94%; min-width:700px; height:34px; float:left; text-align:left;}
.wraper .contentcontainer li.middlebg h1{color:#184d88; font-size:14px; font-weight:bold; margin:10px 0 0 0;}
.wraper .contentcontainer li.bottomrightcutver{background:url(../images/top_nav_brightcurve.png) no-repeat; width:26x; height:34px; float:left; clear:right;}
.wraper .logincontainer{background:url(../images/login_bg.png) no-repeat; width:848px;  height:385px; margin:56px auto 0 auto; text-align:center;}
.wraper .coverflowcontainer{ background:url(../images/coverflow_bg.png) no-repeat; width:848px;  height:385px; margin:56px auto 0 auto; text-align:center;}
.wraper .coverflowcontainer h1{color:#184d88; font-size:14px; font-weight:bold; margin:0; padding:12px 0 0 0; clear:both;}
.wraper .coverflowcontainer .coverflow { margin:25px auto 0 auto; text-align:left; width: 590px; background:#fff; border:0px #000 solid;}
.wraper .container{width:700px; margin:0 auto 0 auto;}
.wraper .container .orderdetails{ margin:10px; width:300px; text-align:center; float:left; }
.wraper .container .orderdetails h1{background:url(../images/header_bg.gif) repeat-x; width:auto; margin:0; padding:4px 8px; color:#fff; font-size:16px; border:#4785ca 1px solid;}
.wraper .container .orderdetails h2{margin:4px 0 0 10px; padding:4px 8px; color:#fff; font-size:13px; text-align:left;}
.wraper .container .orderdetails hr{background:url(../images/v_line.gif) repeat-x; height:1px; color:#fff; width:100%; margin:0 10px;}
.wraper .container .orderdetails ul {list-style-type:none; margin:0; padding:0; text-align:left; color:#fff;}
.wraper .container .orderdetails li{list-style-type:none; margin:5px 0; padding:0; }
.wraper .container .orderdetails li a{color:#fff; text-decoration:none;}
.wraper .container .orderdetails li a:hover{color:#fff; text-decoration:underline;}
.wraper .container .orderdetails img{ border:1px solid #666; float:left;}
.wraper .container .divider{float:left; margin:10px;}
.wraper .imgcontainer {width:300px; margin:0 auto; text-align:center;}
.wraper .imgcontainer img{ border:1px solid #666; float:left; margin:0 8px;}
.wraper .imgcontainer img a{border:1px solid #666;}
.wraper .imgcontainer img a:hover{border:1px solid #184d88;}
.footer{ background:#fff url(../images/footer_bg.png) repeat-x; padding:10px; height:90px; clear:both; }
.footer div{width:800px; margin:0 auto;}
.footer a{color:#184d88; padding:10px; float:left;}
.footer a:hover{color:#74a8e1; padding:10px;}
.footer span{float:right; margin:0;}




/*------------------------ style for Middle Content (added on 19nov2009)---------------*/
.nav-header { background:transparent url(../images/top_nav_middlebg.png) repeat-x; height:44px; margin:0 26px; text-align:left; }
.nav-header .nav-header-right { background:transparent url(../images/top_nav_rightcurve.png) no-repeat; width:26px; height:44px; float:right; margin:0 -26px 0 0; position:relative;}
.nav-header .nav-header-left { background:transparent url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:0 0 0 -26px; position:relative; }
.nav-header .nav-header-content { margin:0; padding:12px 0; }

.nav-footer { background:transparent url(../images/top_nav_bmiddlebg.png) repeat-x; height:34px; margin:0 26px; text-align:left; }
.nav-footer .nav-footer-right { background:transparent url(../images/top_nav_brightcurve.png) no-repeat; width:26px; height:34px; float:right; margin:0 -26px 0 0; position:relative;}
.nav-footer .nav-footer-left { background:transparent url(../images/top_nav_bleftcurve.png) no-repeat; width:26px; height:34px; float:left; margin:0 0 0 -26px; position:relative; }
.nav-footer .nav-footer-content { margin:0; padding:0; }
/*------------------------ style for Middle Content (added on 19nov2009)---------------*/