/*
Author  : Prabu A
Date    : 29 - 07 - 2008
Company : Thapovan Info Systems Inc.
*/
/*body{margin:0; padding:0; font:11px "Trebuchet MS", Arial, Helvetica, sans-serif;  background:#e6e6e6; color:#000; min-width:775px;}
form,p,{margin:0; padding:0;}
#page {height:90%; overflow:hidden; margin:0 auto; width:auto;}
#welcome{clear:both; margin:50px auto 0 auto; font-size:14px; width:460px; text-align:center;}
#welcome img{float:left; clear:both; }
#welcome a{clear:both; color:#06f; text-decoration:none; font-weight:bold;} 
#welcome a:hover{clear:both; color: #f90; text-decoration:underline;}
img {border:none;}
form {margin:0; padding:0;}
/* Header Starts Here */
/*#header{ background:url(../images/top_bg.gif) repeat-x;  height:102px;}
#header img{margin:6px; float:left;}
#header #loginname{ float:right; margin:40px 30px 0 10px; font-size:16px; color:#fff; font-weight:bold;}
#header #loginname span a{font-size:11px; color:#a7e5ff; margin:0 6px; font-weight:normal; text-decoration:none;}
#header #loginname span a:hover{font-size:11px; color:#fff; margin:0 6px; font-weight:normal; text-decoration:underline;}
#header .logout{ float:right; margin:40px 30px 0 80px; color:#fff; font-weight:bold;}
#header .logout a{font-size:11px; color:#a7e5ff; margin:0 6px; font-weight:normal; text-decoration:none;}
#header .logout a:hover{font-size:11px; color:#fff; margin:0 6px; font-weight:normal; text-decoration:underline;}*/
/*Menu Start Here*/
body{margin:0; padding:0; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; background:#e6e6e6; color:#000; min-width:775px;}
#page {height:auto; min-height:300px; overflow:hidden; margin:5px auto 0 auto;}
hr{margin:0; padding:0px; color:#ccc; height:1px;}
#welcome{clear:both; margin:25px auto 0 auto; font-size:14px; width:460px; text-align:center;}
#welcome img{float:left; clear:both; }
#welcome a{clear:both; color:#06f; text-decoration:none; font-weight:bold;} 
#welcome a:hover{clear:both; color: #f90; text-decoration:underline;}
img {border:none;}
form,ul,li {margin:0; padding:0;}
/* Header Starts Here */
#header{ background:#069 url(../images/top_bg.gif) repeat-x;  height:102px; } 
#header img{margin:6px; float:left;}
#header #loginname{ float:left; margin:40px 30px 0 80px; font-size:18px; color:#fff; font-weight:bold;}
#header #loginname span a{font-size:11px; color:#a7e5ff; margin:0 6px; font-weight:normal; text-decoration:none;}
#header #loginname span a:hover{font-size:11px; color:#fff; margin:0 6px; font-weight:normal; text-decoration:underline;}
#header .logout{ float:right; margin:40px 30px 0 80px; color:#fff; font-weight:bold;}
#header .logout a{font-size:13px; color:#fff; margin:0 6px; font-weight:bold; text-decoration:none;}
#header .logout a:hover{font-size:13px; color:#003399; margin:0 6px; font-weight:bold; text-decoration:none;}


#menu{background:url(../images/menu_bg.jpg) repeat-x; height:34px; border-bottom:solid 1px #000; width:100%; float:left;}
#menu ul{margin:0; padding:2px 6px; background:url(../images/menu_bg.jpg) repeat-x; color:#fff;}
#menu li{list-style:none; float:left; padding:6px 10px; margin:0px; height:20px;}
#menu li.divider{background:url(../images/menu_divider.jpg) no-repeat; margin:0; float:left; height:32px; width:2px; padding:0px;}
#menu li a{color:#fff; text-decoration:none; display:block; font-size:13px; font-weight:bold; padding:0px 0 9px 0;}
#menu li a:hover{color:#04f0ff; text-decoration:none;}
#menu li.time{ float:right; margin:0 16px; font-size:12px; font-weight:bold;}
#menu li.selected{ background:url(../images/menu_selected.gif) repeat-x; padding:6px 8px 6px 10px; margin:0; color:#a7e5ff;}
/*Menu End Here*/
/*Sub Menu Start*/
#submenu{background:#cfdce0; border-bottom:#82c0d4 solid 1px; height:28px;}
#submenu ul{margin:0; padding:0px 0 0 38px;}
#submenu li{display:inline; list-style:none;}
#submenu li a{color:#004a71; text-decoration:none; display:block; float:left;  padding:6px 10px 0 0;}
#submenu li a:hover{color:#000; text-decoration:underline;}
#submenu li.spliter{ background:url(../images/submenu_divider.gif) no-repeat; width:2px; height:28px; text-align:center; padding:0 6px; display:block; float:left;}
/*Sub Menu End*/
/* Header Ends Here */
/* Footer Starts Here */
#footer{background:url(../images/top_bg.gif) repeat-x;  font-size:11px; padding:50px 50px;}
#footer .copyright{color:#5b5b5b; text-align:right;}
#footer .copyright a{color:#5b5b5b; text-decoration:underline;}
#footer .copyright a:hover{color:#fff; text-decoration:none;}
/* Footer Ends Here */
/* Login Page Start */
#logincontainer{background:url(../images/login_bg.gif) no-repeat; width:502px; height:304px; margin:0 auto;}
#logincontainer h1{font-size:16px; font-weight:bold; color:#fff; margin:0px; padding:14px 0 0 25px; clear:both;}
#logincontainer .lable{font-size:14px; font-weight:bold; margin:25px auto 0 25px; width:100px; float:left; clear:left;}
#logincontainer input{ border:#000 1px solid; margin:22px auto 0 0; width:200px; float:left;}
#logincontainer .login{ background:url(../images/button_bg.gif) repeat; color:#09f; padding:3px 20px 0 20px; margin:23px; float:left; text-align:center; height:20px; border:#000 solid 1px;}
#logincontainer .error{color:#f00; margin:25px auto 0 auto; width:90%;}
#logincontainer .login a{font-size:12px; color:#fff; text-decoration:none; font-weight:bold; float:left;}
#logincontainer .login a:hover{font-size:12px; font-weight:bold; color:#a7e5ff; text-decoration:underline;}
/* Login Page End */