@charset "utf-8";
.dpDiv {
	
}
.dpTable {
	border: #b3d9ff 1px solid; font-family: Tahoma, Arial, Helvetica, sans-serif; background:#fff; text-align: center;
}
.dpTR {
	
}
.dpTitleTR {
	
}
.dpDayTR {
	
}
.dpTodayButtonTR {
	
}
.dpTD {
	border: #ece9d8 1px solid; 
}
.dpDayHighlightTD {
	border: #aaaaaa 1px solid; background-color: #cccccc;
}
.dpTDHover {
	border: #888888 1px solid; cursor: pointer; color:red; background-color:#888;
}
.dpTitleTD { white-space:nowrap; width:100px;
	
}
.dpButtonTD {
	
}
.dpTodayButtonTD {
	
}
.dpDayTD {
	border:#aaaaaa 0px solid;
}
.dpTitleText {
	font-weight: bold; font-size: 12px;
}
.dpDayHighlight {
	font-weight: bold; color: #4060ff;
}
.dpButton {
	padding:0px; font-weight: bold; font-size: 10px; background: #fff; border:1px #b3d9ff solid; color: #000033; font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
.dpTodayButton {
	font-weight: bold; cursor: pointer; font-size: 10px; background: #ccc; color: #000033; border:1px #666 solid; margin:1px; font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}