/*
Author  : Prabu A
Date    : 29 - 07 - 2008
Company : Thapovan Info Systems Inc.
*/
.wraper{margin:10px 4px; height:60%; }
/*img, div, a, input, li, td { behavior: url(iepngfix.htc);}*/
.table{ margin:20px auto;  z-index:301;}
.searchtable{margin:5px auto 10px auto; border-bottom:#4785ca 1px solid; z-index:301;}
.searchtable td {padding:4px;}
.searchtable .search_select{z-index:300;}
.search-input{padding:2px 0; width:150px; height:14px; vertical-align:middle; border: #999 solid 1px; z-index:300;}
.select{ border: #999 solid 1px;}
hr{padding:10px 0; border:none;}
#coverflow { width:600px; background:none; left:-170px; top:-44px; border:0px #000 solid; display:block; position:relative;}
#coverflow #scrollbar { visibility:visible; background:url(../images/scrollbar.gif) no-repeat; height:20px;  position:relative; border-bottom:0px solid #184d88; z-index:10001; left:130px; top:100px; }
#logincontainer{ width:645px; height:290px; margin:-30px auto 0 auto; background:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="../images/login_bg.png", sizingMethod="image");background-repeat:no-repeat;  }
#logincontainer .loginbox{width:490px; margin:20px auto;}
.wraper .container{width:900px; margin:20px 30px; float:left;}
.wraper .coverflowcontainer{background:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="../images/coverflow_bg.png", sizingMethod="image");background-repeat:no-repeat; width:848px;  height:390px; margin:0 auto 0 auto; text-align:center;}
.wraper .contentcontainer{ height:100%; margin:0 20px; text-align:center;}
.wraper .coverflowcontainer h1{color:#184d88; font-size:14px; font-weight:bold; margin:0;}
#logincontainer .login{ background:url(../images/buttonbg.png) repeat; width:60px; margin:6px 0 0 20px; float:left; border:#000 solid 1px;}
#logincontainer .login a{font-size:12px; color:#000; text-decoration:none; font-weight:bold; display:block;  padding:2px 15px 4px 15px;  text-align:center;}
#logincontainer .login a:hover{font-size:12px; font-weight:bold; color:#00f; text-decoration:none;}
.wraper .contentcontainer{ height:100%; margin:-30px 20px 20px 20px; text-align:center;  z-index:300; position: relative;}
.wraper .contentcontainer li.leftcutver{background:url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:0 0 0 0;}
/*.wraper .contentcontainer .content{background:#fff; clear:both; padding:4px; height:auto;   min-width:600px;}
*/

#log-block ul li img { margin:0; padding:0; clear:both; width:140px; margin-left:4px; height:1px;}
#footer  {background:#fff url(../images/footer_bg.png) repeat-x; margin-top:20px;}
/*------------------- Top Menu ---------------------------- */
/*#top_menu{margin:10px auto 0px 250px; clear:both; float:left; display:block; height:30px; }*/

#top_menu{clear:both; float:none; height:1px; margin:-60px auto -40px auto ; width:530px;	
	/*margin:10px auto 5px 250px; clear:both; display:block; float:left;*/}
/*------------------- Top menu end here ---------------------------- */


/*------------------------ style for Middle Content (added on 19nov2009)---------------*/
.nav-header { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_middlebg.png", sizingMethod="scale"); }
.nav-header .nav-header-right { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_rightcurve.png", sizingMethod="crop"); }
.nav-header .nav-header-left { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_leftcurve.png", sizingMethod="crop"); }

.nav-footer { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_bmiddlebg.png", sizingMethod="scale"); }
.nav-footer .nav-footer-right { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_brightcurve.png", sizingMethod="crop"); }
.nav-footer .nav-footer-left { background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src="images/top_nav_bleftcurve.png", sizingMethod="crop"); }