/*
Author  : Prabu A
Date    : 29 - 07 - 2008
Company : Thapovan Info Systems Inc.
*/
/* Login Page Start */

.table{ margin:0 auto;}
hr{padding:10px 0; border:none;}
#coverflow { width:600px; background:none; left:-170px; top:-44px; border:0px #000 solid; display:block; position:relative;}
#coverflow #scrollbar { visibility:visible; background:url(../images/scrollbar.gif) no-repeat; height:20px;  position:relative; border-bottom:0px solid #184d88; z-index:10001; left:130px; top:100px; }
#logincontainer{ width:645px; height:290px; margin:-10px auto 0 auto;  background:url(../images/login_bg.png) no-repeat;}
#logincontainer .loginbox{width:480px; margin:20px auto;}
.divfix{ height:50px; margin:50px 0 0 0; display:block; clear:both; float:left;}
/*------------------- CustomerLogin style starts here ---------------------------- */
.customer-login { background:transparent url(../images/login_bg.png) no-repeat scroll 0 0; height:290px; margin:20px auto 0 auto; width:645px; clear:both; }
.customer-login h2 { clear:both; color:#000; font-size:16px; font-weight:bold; margin:0; padding:14px 0 0 0; text-align:center; }
.customer-login .loginbox { margin:40px auto 30px auto; width:auto; text-align:center;}
.divfix{ margin:40px 0 0 0; display:block; clear:both; float:left;}
.customer-login a.button { text-decoration:none; color:#000; padding:2px 20px;}
.customer-login a:hover.button { text-decoration:underline;}
.customer-login .loginbox .error{color:#f00; width:90%;}
#displayIfForget { margin:0 auto 0 100px; width:auto;  }
/*------------------- CustomerLogin style ends here ---------------------------- */
/*------------------- Top Menu ---------------------------- */
#top_menu{margin:10px auto 0px 250px; clear:both; float:left; display:block; height:30px; }

/*------------------- Top menu end here ---------------------------- */
/*.wraper .coverflowcontainer{ background:url(../images/coverflow_bg.png) no-repeat; width:848px; height:385px; margin:0 auto; text-align:center;}*/
.wraper .coverflowcontainer h1{color:#184d88; font-size:14px; font-weight:bold; margin:0;}
.wraper .contentcontainer{ height:100%; margin:0 20px; text-align:center;}
.wraper .username{font-size:16px; color:#000; margin:0 0 0 0; padding:10px 0 0 0; white-space:nowrap;}
.wraper .contentcontainer li.leftcutver{background:url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:0;}
.wraper .contentcontainer .content{background:#fff;  height:auto; clear:both; float:left; padding:4px; min-width:864px;}
/*.footer{ background:#fff url(../images/footer_bg.png) repeat-x; height:100px; padding:10px; clear:both; width:auto; }
.footer div{width:800px; margin:0 auto;}
.footer a{color:#184d88; padding:10px; float:left;}
.footer a:hover{color:#74a8e1; padding:10px;}
.footer span{float:right; margin:10px 0 0 0;}
*/
