/*
Author		: Prabu A
Created on 	: July 01 2008
Company		: Thapovan Info Systems Pvt Ltd.
*/
body{margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#74a8e1 url(../images/page_bg.jpg) no-repeat  center 0; height:100%; min-width:1000px;}
a, a:hover{outline:none;}
table{ margin:0;}
.tablemargin{margin:14px 0 0 0}
#logincontainer{ width:645px; height:290px; margin:40px auto 0 auto;  background:url(../images/login_bg.png) no-repeat;}
#logincontainer .loginbox{width:490px; margin:40px auto;}
#logincontainer h1{font-size:16px; font-weight:bold; color:#000; margin:0px; padding:14px 0 0 300px; clear:both; }
#logincontainer .lable{font-size:14px; font-weight:bold; margin:10px auto 0 25px; width:100px; text-align:right; float:left; clear:left;}
#logincontainer input{ border:#000 1px solid; margin:8px auto 8px 0; width:200px; float:left;}

#logincontainer .error{color:#f00; margin:20px auto 10px auto; width:90%;}
#logincontainer .login{ background:url(../images/buttonbg.png) repeat; width:60px; margin:6px 0 0 20px; float:left; border:#000 solid 1px; outline:none;}
#logincontainer .login a{font-size:12px; color:#000; text-decoration:none; font-weight:bold; display:block;  padding:2px 30px 4px 15px;  text-align:center;}
#logincontainer .login a:hover{font-size:12px; font-weight:bold; color:#00f; text-decoration:none;}
#logincontainer .customer{clear:left; margin:0 0 0 150px; font-size:13px; }
#logincontainer .customer a{color:#039; text-decoration:underline; }
#logincontainer .customer a:hover{color:#039; text-decoration:none;}
/* Login Page End */
th{text-align:left; background:url(../images/table_middlebg.gif) repeat-x;}
h1{font-size:16px; color:#000; padding:0 4px; margin:0 auto;}
.textarea{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;border: 1px solid #333333;height:100px;width:545px;}
.textarea_otd{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;border: 1px solid #333333;height:100px;}
input{padding:2px 0; width:200px; height:14px; vertical-align:middle; border: #999 solid 1px;}
.input-phone{padding:2px 0; width:100px; height:14px; vertical-align:middle; border: #999 solid 1px;}
.input-version-password{padding:2px 0; width:181px; height:14px; vertical-align:middle; border: #999 solid 1px;}
.input-ext{padding:2px 0; width:54px; height:14px; vertical-align:middle; border: #999 solid 1px;}
.input-radio{width:10px; border: #999 solid 0px;}
.textarea1{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; border: 1px solid #333333; width:100%;}
.search-input{padding:2px 0; width:150px; height:14px; vertical-align:middle; border: #999 solid 1px;}
.radio{border:none; margin:0;}
.checkbox{border:none; width:10px; margin:8px;}
.checkboxHTML{border:none; width:18px; margin:4px;}
.button{ background:url(../images/buttonbg.png) repeat-x; border:solid #839dd7 1px; padding:0 6px 2px 6px; font-size:11px; color:#000;  width:80px; height:22px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; margin:2px  4px; cursor:pointer;}
.bigbutton{ background:url(../images/buttonbg.png) repeat-x; border:solid #839dd7 1px; padding:0 6px 2px 6px; font-size:11px; color:#000;  width:auto; height:22px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; margin:2px  4px; cursor:pointer;}
.caption_input{padding:2px 0; width:375px; height:14px; vertical-align:middle; border: #999 solid 1px;}
.browse{ background:#fff; border:solid #999 1px;  font-size:11px; color:#000; height:22px; width:375px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; }
form{margin:0; padding:0;}
hr{padding:10px 0; border:none; color:#999;}
.td{background:#fff;}
.table{ margin:0 auto 0 auto;}
.searchtable{margin:5px auto 10px auto; border-bottom:#4785ca 1px solid; }
.searchtable td {padding:4px;}
.tdborder{border-bottom:#4785ca 1px solid; background:#fff;}
.whitestrip{ background:#fff; height:10px; width:100%;}
.wraper{margin:10px 0px; padding:0px; height:60%; }
.topnav{width:850px; margin:0 auto;}
.wraper .skybuyhighlogo{background:url(../images/logo.gif) no-repeat; height:91px; width:189px; margin:4px 105px 0 0; float:left;}
.wraper .userimg img{border:1px #666 solid;  margin:10px; float:right;}
.wraper .username{font-size:13px; font-weight:bold; color:#000000; margin:0 0 10px 0; text-align:right; padding:10px 0 10px 0; white-space:nowrap;}
.wraper .username span a{color:#0071ef; padding:4px 10px 0 0; text-decoration:none; font-size:13px; font-weight:bold;}
.wraper .username span a:hover{color:#184d88; text-decoration:none;}
.wraper .username span.time{ font-size:12px; color:#184d88;}
.tear{ border:dashed 1px #666; padding:22px; margin:0 auto 10px auto; width:60%; font-weight:bold;}
/* Menu Page start */
/*
#log-block1.hover, #log-block:hover{position:relative;  padding:0; display:block; z-index:20001;}
#log-block1.hover ul, #log-block:hover ul{display:block; text-align:left; margin:0; padding:0; }
#log-block1.hover li, #log-block:hover li{padding:2px 0; line-height:12px; height:16px;  }
#log-block1 ul {background:#fff; border:1px solid #036; display:none; padding:0; float:left; left:0; margin:0;  position:absolute; top:20px; width:150px; }
#log-block1 ul li{list-style-image:none; list-style-position:outside; list-style-type:none; white-space:nowrap;  padding:0 4px; margin:0;}
#log-block1 ul li a{border:0px solid #fff; color:#036; display:block; text-decoration:none; padding:4px 0 0 4px; font-size:12px; font-weight:normal; margin:0;}
#log-block1 ul li a:hover{border:0px solid #888; color:#09f; clear:both; text-decoration:none; padding:4px 0 0 4px; margin:0;}
#log-block1 ul li img { margin:0; padding:0; clear:both; width:140px; margin-left:4px; height:1px;}
#log-block1 ul li.last{padding:2px 0 6px 0;  height:16px;}
#log-block2.hover, #log-block:hover{position:relative;  padding:0; display:block; z-index:20001;}
#log-block2.hover ul, #log-block:hover ul{display:block; text-align:left; margin:0; padding:0; }
#log-block2.hover li, #log-block:hover li{padding:2px 0; line-height:12px; height:16px;  }
#log-block2 ul {background:#fff; border:1px solid #036; display:none; padding:0; float:left; left:0; margin:0;  position:absolute; top:20px; width:150px; }
#log-block2 ul li{list-style-image:none; list-style-position:outside; list-style-type:none; white-space:nowrap;  padding:0 4px; margin:0;}
#log-block2 ul li a{border:0px solid #fff; color:#036; display:block; text-decoration:none; padding:4px 0 0 4px; font-size:12px; font-weight:normal; margin:0;}
#log-block2 ul li a:hover{border:0px solid #888; color:#09f; clear:both; text-decoration:none; padding:4px 0 0 4px; margin:0;}
#log-block2 ul li img { margin:0; padding:0; clear:both; width:140px; margin-left:4px; height:1px;}
#log-block2 ul li.last{padding:2px 0 6px 0;  height:16px;}
*/
/* Menu Page end*/
/*.wraper .menu{ float:right; margin:10px -22px 0 0;}
.wraper .menu ul {width:500px; margin:0; padding:0; }
.wraper .menu li{ list-style-type:none; float:left; display:block; font-size:13px; color:#000; font-weight:bold; margin:0 5px 0 5px; padding:0; height:30px;}
.wraper .menu li a{ color:#000000; text-decoration:none;}
.wraper .menu li a:hover{ color:#184d88; text-decoration:none;}
.wraper .menu li.selected{ background:url(../images/selected_arrow.gif) no-repeat center 20px; float:left; display:block;  height:30px;}
.wraper .menu li.divider{}*/
.wraper .contentcontainer{  min-height:452px;  margin:0 auto 0 auto;}
.wraper .contentcontainer .wordcount{padding:2px 0; width:auto; height:14px; vertical-align:middle; border: #999 solid 1px;}
.wraper .contentcontainer h1{color:#184d88; font-size:14px; font-weight:bold; width:500px; margin:0; float:left;}
.wraper .contentcontainer ul{ list-style-type:none; margin:0; padding:0; min-width:800px; font-size:13px; font-weight:bold;}
.wraper .contentcontainer .dateicon{margin:2px;}
.wraper .contentcontainer li{display:inline; list-style-type:none; margin:0; padding:0;}
.wraper .contentcontainer li.leftcutver{background:url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:1px 0 0 0;}
.wraper .contentcontainer li.middlebg{background:url(../images/top_nav_middlebg.png) repeat-x; width:94%; height:44px; float:left; min-width:700px; text-align:left;}
.wraper .contentcontainer li.middlebg h1{color:#184d88; font-size:14px; font-weight:bold; margin:10px 0 0 0;}
.wraper .contentcontainer li.rightcutver{background:url(../images/top_nav_rightcurve.png) no-repeat; width:26px; height:44px; float:left;}
.wraper .contentcontainer .content{background:#fff; clear:both; padding:4px; height:auto; min-width:750px;}
.wraper .contentcontainer .border{border:#4785ca 1px solid; }
.wraper .contentcontainer .border_top0{border:#4785ca 0px solid; border-top:0px;}
.wraper .contentcontainer .border h2{font-size:13px; color:#000; margin:0; padding:8px;}
.wraper .contentcontainer .border img{margin:3px;}
.wraper .contentcontainer li.bottomleftcutver{background:url(../images/top_nav_bleftcurve.png) no-repeat; width:26px; height:34px; float:left; clear:right; margin:0;}
.wraper .contentcontainer li.bottommiddlebg{background:url(../images/top_nav_bmiddlebg.png) repeat-x; width:94%; min-width:700px; height:34px; float:left; text-align:left;}
.wraper .contentcontainer li.middlebg h1{color:#184d88; font-size:14px; font-weight:bold; margin:10px 0 0 0;}
.wraper .contentcontainer li.bottomrightcutver{background:url(../images/top_nav_brightcurve.png) no-repeat; width:26x; height:34px; float:left; clear:right;}


.returnpolicy{ border:4px #ccc solid; padding:10px; margin:10px; text-align:left; width:450px; font-size:12px; }
.returnpolicy h2{font-size:24px; color:#039; padding:0; margin:0; font-weight:normal;}
.clickhere a{font-size:16px; color:#ff0000; font-weight:bold; padding:2px;}
.clickhere a:hover{font-size:16px; color:#0000ff; font-weight:bold; padding:2px;}
.wraper .action a{color:#f00; font-size:12px; margin:0; padding:0; font-weight:bold; text-decoration:none;}
.wraper .action a:hover{color:#900; font-size:12px; margin:0; padding:0; font-weight:bold; text-decoration:underline;}
.editlink a{color:#ff0000; font-size:14px; margin:0; padding:0; font-weight:bold; text-decoration:none;}
.editlink a:hover{color:#990000; font-size:14px; margin:0; padding:0; font-weight:bold; text-decoration:underline;}

.wraper .coverflowcontainer{ background:url(../images/coverflow_bg.png) no-repeat; width:848px;  min-height:500px; margin:0px auto 0 auto; text-align:center; z-index:1000;}
.wraper .coverflowcontainer h1{color:#184d88; font-size:14px; font-weight:bold; margin:0; padding:12px 0 0 0; clear:both;}
.wraper .coverflowcontainer .coverflow { margin:25px auto 0 auto; border:0px #000 solid;}
.wraper .coverflowcontainer #flashcontent{z-index:-100000000; height:50px;}
.wraper .container{width:798px; margin:20px 30px; }
.wraper .container .orderdetails{ width:400px; text-align:center; float:left; margin:0; }
.wraper .container .orderdetails h1{width:auto; margin:0; text-align:left; padding:4px 0px; color:#000; font-size:16px; border:#4785ca 0px solid; clear:both;}
.wraper .container .orderdetails .divfix{margin:69px 0 0 0;}
.wraper .container .orderdetails h2{margin:4px 0 0 0px; padding:4px 0px; color:#000; font-size:13px; text-align:left;}
.wraper .container .orderdetails hr{height:1px; line-height:1px; color:#ccc; width:100%; margin:0; padding:0; clear:both;}
.wraper .container .orderdetails ul {list-style-type:none; margin:0 5px 0 5px; padding:0; text-align:left; color:#000; font-size:13px; font-weight:bold; float:left;}
.wraper .container .orderdetails li{list-style-type:none; margin:5px 0; padding:0;}
.wraper .container .orderdetails li a{color:#03c; text-decoration:none;}
.wraper .container .orderdetails li a:hover{color:#09f; text-decoration:underline; }
.wraper .container .orderdetails img{ border:1px solid #666; float:left;}
.wraper .container .orderdetails .divider{float:left; margin:5px ; border:none;}

.wraper .container .merchandise{ width:300px; text-align:center; float:left; margin:0; }
.wraper .container .merchandise h1{width:auto; margin:0; text-align:left; padding:4px 0px; color:#000; font-size:16px; border:#4785ca 0px solid; clear:both;}
.wraper .container .merchandise .divfix{margin:69px 0 0 0;}
.wraper .container .merchandise h2{margin:4px 0 0 0px; padding:4px 0px; color:#000; font-size:13px; text-align:left;}
.wraper .container .merchandise hr{height:1px; line-height:1px; color:#ccc; text-align:left; margin:5px auto; padding:0; clear:both;}
.wraper .container .merchandise ul {list-style-type:none; margin:0 5px 0 5px; padding:0; text-align:left; color:#000; font-size:13px; font-weight:bold; float:left;}
.wraper .container .merchandise li{list-style-type:none; margin:5px 0; padding:0; }
.wraper .container .merchandise li a{color:#03c; text-decoration:none;}
.wraper .container .merchandise li a:hover{color:#09f; text-decoration:underline; }
.wraper .container .merchandise img{ border:1px solid #666; float:left;}
.wraper .container .merchandise .divider{float:left; margin:5px ; border:none;}

.wraper .container .divider{float:left; margin:10px;}
.wraper .imgcontainer {width:300px; margin:0 auto; text-align:center;}
.wraper .imgcontainer img{ border:1px solid #666; float:left; margin:0 8px;}
.wraper .imgcontainer img a{border:1px solid #666;}
.wraper .imgcontainer img a:hover{border:1px solid #184d88;}

.customerdetails{color: #990000; font-size:12px; font-weight:bold; background:#6d9fd0; padding:0 5px;}
.grandtotal{color: #990000; font-size:12px; font-weight:bold; background:#6d9fd0; height:30px; margin-left:320px; margin-right:25px;}
.grandtotal1{color: #990000; font-size:12px; font-weight:bold; background:#6d9fd0; height:30px; margin-left:495px; /*margin-right:25px;*/}
.grandtotal2{color: #990000; font-size:12px; font-weight:bold; background:#6d9fd0; height:30px; margin-left:300px; /*margin-right:25px;*/}
.grandtotal3{color: #990000; font-size:12px; font-weight:bold; background:#6d9fd0; height:30px; margin-left:380px; /*margin-right:25px;*/}
.grandtotal4{color: #990000; font-size:12px; font-weight:bold; background:#6d9fd0; height:30px; margin-left:310px; /*margin-right:25px;*/}


/*.footer{ background:#fff url(../images/footer_bg.png) repeat-x; padding:10px; width:auto; height:90px; clear:both; }
.footertable{background:#fff url(../images/footer_bg.png) repeat-x; padding:0; margin:0;}
.footer div{width:800px; margin:0 auto;}
.footer a{color:#184d88; padding:10px; float:left;}
.footer a:hover{color:#74a8e1; padding:10px;}
.footer span{float:right; margin:10px 0 0 0;}*/
#footer  {background:#fff url(../images/footer_bg.png) repeat-x;}
#footer ul { margin:0; list-style-type:none; padding:50px; text-align:center; }
#footer li a{color:#184d88; }
#footer li a:hover{color:#74a8e1; }
#footer li{ display: inline; margin:20px; }
#footer li.mt{margin:auto 350px auto auto;}
#footer bestview{width:750px; margin:0 0 20px 0; padding:0 0 0 80px;text-align:left; font-size:11px;}

/*------------------- CustomerLogin style starts here ---------------------------- */
.customer-login { background:transparent url(../images/login_bg.png) no-repeat scroll 0 0; height:290px; margin:0 auto 0 auto; width:645px; clear:both; }
.customer-login h2 { clear:both; color:#000; font-size:16px; font-weight:bold; margin:0; padding:14px 0 0 0; text-align:center; }
.customer-login .loginbox { margin:40px auto 30px auto; width:auto; text-align:center;}
.divfix{ margin:20px 0 0 0; display:block; clear:both; float:left;}
.customer-login a.button { text-decoration:none; color:#000; padding:2px 20px;}
.customer-login a:hover.button { text-decoration:underline;}
.customer-login .loginbox .error{color:#f00; width:90%;}
#displayIfForget { margin:0 auto 0 100px; width:auto;  }
/*------------------- CustomerLogin style ends here ---------------------------- */

/*------------------- Customer Order Details style starts here ---------------------------- */
.container_margin { margin:0 !important;}
.cus_order_details{ height:400px; border:0px solid #4785CA; overflow-x:hidden; overflow-y:auto; width:100%; text-align:left; }
.cus_order_details table.order-items{ margin:15px auto;}
/*------------------- Customer Order Details style ends here ---------------------------- */

/*------------------------View Process Order Details-START---------------*/
.placed_order_details{ height:150px; border:0px solid #4785CA; overflow-x:hidden; overflow-y:auto; width:100%; text-align:left; }
/*------------------------View Process Order Details-END*/
.customerService{ border:0; padding:0; margin:0px; text-align:left; font-size:12px; }
.customerService h3 {font-size:20px; color:#039; padding:0; margin:5px; font-weight:normal;}

.wraper .contentcontainer .cus-service a{ color:#03c; text-decoration:none;}
.wraper .contentcontainer .cus-service a:hover{ color:#0cf; text-decoration:underline;}



/*------------------------ style for Middle Content (added on 19nov2009)---------------*/
.nav-header { background:transparent url(../images/top_nav_middlebg.png) repeat-x; height:44px; margin:0 26px; text-align:left; }
.nav-header .nav-header-right { background:transparent url(../images/top_nav_rightcurve.png) no-repeat; width:26px; height:44px; float:right; margin:0 -26px 0 0; position:relative;}
.nav-header .nav-header-left { background:transparent url(../images/top_nav_leftcurve.png) no-repeat; width:26px; height:44px; float:left; margin:0 0 0 -26px; position:relative; }
.nav-header .nav-header-content { margin:0; padding:12px 0; }

.nav-footer { background:transparent url(../images/top_nav_bmiddlebg.png) repeat-x; height:34px; margin:0 26px; text-align:left; }
.nav-footer .nav-footer-right { background:transparent url(../images/top_nav_brightcurve.png) no-repeat; width:26px; height:34px; float:right; margin:0 -26px 0 0; position:relative;}
.nav-footer .nav-footer-left { background:transparent url(../images/top_nav_bleftcurve.png) no-repeat; width:26px; height:34px; float:left; margin:0 0 0 -26px; position:relative; }
.nav-footer .nav-footer-content { margin:0; padding:0; }
/*------------------------ style for Middle Content (added on 19nov2009)---------------*/