/* CSS----Drop Down Menu*/

div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  
}

div.menuBar {
  
  border: 0px solid;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  padding: 4px 2px 4px 2px;
  text-align: left;
}

div.menuBar a.menuButton {
  
  border: 2px solid #d0d0d0;
  color: #FFFFFF;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  
  color: #000000;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #cfdce0;
  border: 1px #3399FF solid;
  border-top:none;
  left: 1px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
 

}

div.menu a.menuItem {
	background: url(../images/sub_menubg.gif) repeat-x;
  color: #4a79ac;
  cursor: pointer;
  display: block;
  padding:4px 8px;
  left:-20px;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
  

}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
background:#fff;
  color: #3f6695;


}

div.menu a.menuItem span.menuItemText {
}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemsSep{
  border-top: 1px solid #b9c9ca;
 

}
