/*
Author  : Prabu A
Date    : 09 - 08 - 2008
Company : Thapovan Info Systems Inc.
*/
/*table{background-color:#fff;}*/

.select{ border: #999 solid 1px;}
.action{width:100px; padding:0; margin:0;}
.imageinput{margin:1px; width:auto; height:22px; border:1px solid #000;}
#search{font-family: Arial, Helvetica, sans-serif;  width:395px; padding:6px; margin:8px auto 50px auto; background:#709ccb url(../images/search_bg.gif) repeat; border:#82c0d4 1px solid; height:40px; }
#search h1{width:auto; margin:12px 8px 0 4px; float:left; font-size:14px; color:#000; display:block; padding:0px;}
#search .catagory{font-weight:bold; float:left; margin:2px 4px; word-wrap:break-word;}
.size{font-weight:normal; float:left; margin:2px 4px; word-wrap:break-word; width:250px;}
#cataloginfo{margin:8px auto; width:auto; clear:both; }
#search .searchbutton{background:url(../images/table_middlebg.gif) repeat-x;font-family: Arial, Helvetica, sans-serif; border:solid #839dd7 0px; padding:4px 6px; font-size:11px; color:#fff; height:22px; font-weight:bold; margin:18px 0 0 0;}
.broder_top0{ border:#ccc 0px solid;}
.table_header{font-weight:bold; font-size:13px; text-align:center; background:url(../images/table_headerbg.gif) repeat-x; padding:0 6px;}
.tdbg{background-color:#fff; padding:2px 6px;}
.lable{font-weight:bold; padding:2px 6px;}
.lable a{ color:#03f; text-decoration:none;}
.lable a:hover{ color: #03f; text-decoration:underline;}
.desc{font-weight:normal; padding:2px 6px;}
.tablehead{background:url(../images/header_bg.png) repeat-x; }
tfoot img{border:none;}
.tablecontent{ background:#fff;}
.tablecontent td{text-align:left;}
.broder_top0 .td{border-bottom:1px #ccc solid; padding:4px; height:1px;}
.broder_top0 .tdtop{border-top:1px #ccc solid; margin:2px; padding:6px;}
.broder_top0 img{margin:4px 0 0 0;}
.error{font-size:12px;font-weight:bold;text-decoration:none;color:#FF0000;}

