@charset "UTF-8";
/* SpryMenuBarHorizontal.css - version 0.6 - Spry Pre-Release 1.6.1 */
/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */
/*******************************************************************************
 LAYOUT INFORMATION: describes box model, positioning, z-order
 *******************************************************************************/
/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
#top_menu{clear:both; float:none; height:1px; margin:32px auto; width:570px;	
	/*margin:10px auto 5px 250px; clear:both; display:block; float:left;*/}
#home{width:80px; font-weight:bold; background:none;}
#admin{width:80px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#admin #admin-menu{width:128px; font-weight: normal; background-color:#74a8e1;}
#admin #admin-menu li{border-bottom:solid 1px #b9d8eb; }
#admin #admin-menu #admin-submenu{width:200px; font-weight: normal; background:#74a8e1; top:-10px; margin:0 0 0 128px;}
#catalogue{width:100px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#catalogue #catalogue-menu{width:200px; font-weight: normal; background-color:#74a8e1;}
#catalogue #catalogue-menu li{border-bottom:solid 1px #b9d8eb;}
#order{width:80px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#order #order-menu{width:165px; font-weight: normal; background-color:#74a8e1;}
#order #order-menu li{border-bottom:solid 1px #b9d8eb;}
#reports{width:145px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#reports #reports-menu{width:165px; font-weight: normal; background-color:#74a8e1;}
#reports #reports-menu li{border-bottom:solid 1px #b9d8eb;}
#vendor{width:90px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat; }
#vendor #vendor-menu{width:128px; font-weight: normal; background-color:#74a8e1;}
#vendor #vendor-menu li{ border-bottom:solid 1px #b9d8eb;}
#vendor #vendor-menu #vendor-submenu{width:200px; font-weight: normal; background:#74a8e1; top:-10px; margin:0 0 0 128px;}
#aircharter{width:100px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#aircharter #aircharter-menu{width:128px; font-weight: normal; background-color:#74a8e1;}
#aircharter #aircharter-menu li{border-bottom:solid 1px #b9d8eb;}
#aircharter #aircharter-menu #aircharter-submenu{width:200px; font-weight: normal; background:#74a8e1; top:0px; margin:0 0 0 128px;}
#device{width:130px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#device #device-menu{width:128px; font-weight: normal; background-color:#74a8e1;}
#device #device-menu li{border-bottom:solid 1px #b9d8eb;}
#device #device-menu #device-submenu{width:128px; font-weight: normal; background:#74a8e1; top:0px; margin:0 0 0 128px;}
#customer{width:130px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#customer #customer-menu{width:128px; font-weight: normal; background-color:#74a8e1;}
#customer #customer-menu li{border-bottom:solid 1px #b9d8eb;}
#customer #customer-menu #customer-submenu{width:200px; font-weight: normal; background:#74a8e1; top:0px; margin:0 0 0 128px;}
#merchandise{width:130px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#merchandise #merchandise-menu{width:200px; font-weight: normal; background-color:#74a8e1;}
#merchandise #merchandise-menu li{border-bottom:solid 1px #b9d8eb;}
#merchandise #merchandise-menu #merchandise-submenu{width:200px; font-weight: normal; background:#74a8e1; top:0px; margin:0 0 0 128px;}
#installation{width:130px;  font-weight:bold; background:url(../images/divider.gif) left 4px no-repeat;}
#installation #installation-menu{width:128px; font-weight: normal; background-color:#74a8e1;}
#installation #installation-menu li{border-bottom:solid 1px #b9d8eb; background-color:#74a8e1;}
#installation #installation-menu #installation-submenu{width:200px; font-weight: normal; background:#74a8e1; top:0px; margin:0 0 0 128px;}
ul.MenuBarHorizontal
{
	 margin:0;
	 padding:0;
	 list-style-type:none;
	 /*font-size:11px;*/
	 cursor:default;
	 width:auto;
	 
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
 	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are a fixed width */
ul.MenuBarHorizontal li
{
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
	 font-size: 100%;
	 position: relative;
	 /*text-align: left;*/
	 cursor: pointer;
	 width: 14em;
	 float: left;
 
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarHorizontal ul
{
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
	 font-size: 100%;
	 z-index: 1020;
	 cursor: default;
	 width: 14em;
	 position: absolute;
	 left: -1000em;
	 
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
 	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
 	width: 100%;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	 position: absolute;
	 margin: -5% 0 0 95%;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	 left: auto;
	 top: 0;
}
/*******************************************************************************
 DESIGN INFORMATION: describes color scheme, borders, fonts
 *******************************************************************************/
/* Submenu containers have borders on all sides */
ul.MenuBarHorizontal ul
{
	 border: 1px solid #b9d8eb;
	 border-bottom:none;
	 
 
}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	 display: block;
	 cursor: pointer;
	 /*background-color: #EEE;*/
	 padding: 0.3em 0.75em;
	 color: #a30000;
	 text-decoration: none;
 
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	 background-color: #b9d8eb;
	 color: #039;
	 
 
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	 background-color: #b9d8eb;
	 color: #039;
 
}
/*******************************************************************************
 SUBMENU INDICATION: styles if there is a submenu under a given menu item
 *******************************************************************************/
/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	 background-image: url(../images/SpryMenuBarDown.gif);
	 background-repeat: no-repeat;
	 background-position: 95% 50%;
}
/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	 background-image: url(../images/SpryMenuBarRight.gif);
	 background-repeat: no-repeat;
	 background-position: 95% 50%;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	 background-image: url(../images/SpryMenuBarDownHover.gif);
	 background-repeat: no-repeat;
	 background-position: 95% 50%;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	 background-image: url(../images/SpryMenuBarRightHover.gif);
	 background-repeat: no-repeat;
	 background-position: 95% 50%;
}
/*******************************************************************************
 BROWSER HACKS: the hacks below should not be changed unless you are an expert
 *******************************************************************************/
/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	 position: absolute;
	 z-index: 1010;
	 filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
 ul.MenuBarHorizontal li.MenuBarItemIE
 {
	  display: inline;
	  f\loat: left;
	  background: #FFF;
 }
}