/* CSS Document */
/*body{margin:0; padding:0; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; background:#fff; color:#000; min-width:775px;}
.maincontent{margin:20px auto; width:auto; background:#fff; padding:10px;  z-index:-2;}
.orderdetails{float:left; margin:2px; background:#ccc; padding: 1px;}
.totalvalue{float:right; margin:2px;  background:#ccc; padding: 1px;}
ul{list-style:none; background:#fff;}
li{border-bottom:1px #ccc solid; padding:2px 4px;} 
li.first{background:url(../images/table_middlebg.gif) repeat-x; font-family: Arial, Helvetica, sans-serif; border:solid #839dd7 0px; padding:2px 4px; font-size:11px; color:#000;  font-weight:bold;}
li.next{background: #9cf; text-align:center; font-weight:bold; color: #000000;}
li.last{ border-bottom:none;} 
li a{color:#0066ff; text-decoration:none;}
li a:hover{color:#000; text-decoration:none;}
h3{background:url(../images/table_middlebg.gif) repeat-x; font-family: Arial, Helvetica, sans-serif; border:solid #839dd7 0px; margin:-5px 0; display:block; position:relative; top:-15px; height:24px; text-align:center;  padding:4px 4px 0 4px; font-size:13px; color:#fff;  font-weight:bold; z-index:0;}
li img{margin:3px; text-align:center;}
.maintainmerchandise{width:350px; margin:10px auto;}
.maintainmerchandise a{color:#0066ff; text-decoration:none;}
.maintainmerchandise a:hover{color:#000; text-decoration:none;}*/